@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap");

body {
  font-size: 14px;
  background: #000;
  overflow-x: hidden;
}

/* Font utilities in globals.css */
.font-sofadi {
  font-family: "Sofadi One", cursive;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-courier {
  font-family: "Courier New", monospace;
}

.dark-theme {
  background-color: #202020;
}
.light-theme {
  background-color: rgb(164, 162, 162);
}

.space {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../../public/wallpapersden.com_amazing-outer-space-4k-galaxy_3072x2048.jpg");

  background-size: cover; /* Ensures the image covers the entire area */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat;
}
