@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap");

:root {
  --background: #000;
  --foreground: #fff;
  /* other variables */
}

body {
  font-size: 14px;
  background: var(--background);
  overflow-x: hidden;
}

@layer base {
  body {
    @apply bg-background text-foreground; /* Make sure these are defined */
  }

  * {
    @apply border-border; /* Ensure 'border-border' is a valid Tailwind class */
  }
}

/* Font utilities in globals.css */
.font-sofadi {
  font-family: "Sofadi One", cursive;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-courier {
  font-family: "Courier New", monospace;
}

/* Background styles */
.dark-theme {
  background-color: #202020;
}
.light-theme {
  background-color: rgb(164, 162, 162);
}

.space {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../../public/wallpapersden.com_amazing-outer-space-4k-galaxy_3072x2048.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
