@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}
body {
  height: 100vh; /* Set height for the container */
  width: 100%; /* Set width for the container */
  background-color: black;
  color: rgb(255, 255, 255, 0.8);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-sofadi {
  font-family: "Sofadi One", cursive; /* Sofadi One is a cursive font */
}

.font-courier {
  font-family: "Courier New", monospace; /* Courier New is a standard font, so no need for import */
}

.space {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    /* 50% black overlay */
      url("/wallpapersden.com_amazing-outer-space-4k-galaxy_3072x2048.jpg"); /* Corrected image path */
  background-size: cover; /* Adjust as necessary */
  background-position: center; /* Center the image */
}

.dark-theme {
}
.light-theme {
  background-color: #b8b8b8;
}
